//===============
//Палитра цветов
//===============
:root {
	//Site colors (Цвета сайта):
	//=================================================================
	--primary: #272829; //Site main color -(Основной цвет сайта)
	--secondary: #61677A; //Site secondary color -(Дополнительный цвет сайта)
	--accent: #D8D9DA; //Site accent color -(например: кнопки действия, заголовки, ссылки)
	--inverse: #e1d4b5; //Site inverse color -(Например: для создания контраста между фоном и текстом)
}
