// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
}
// Спойлер
.spollers__item {
	font-size: toRem(20);
	padding: toRem(30) 0;
	border-bottom: 1px solid #61677A;
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	border-radius: toRem(5);
	position: relative;
	list-style: none;
	&._spoller-active {
		color: var(--inverse);
	}
	transition: color 0.2s ease 0s;
	@media (any-hover: hover){
		&:hover{
			color: var(--inverse)
		}
	}
	&::marker {
	}
	._spoller-init & {
		cursor: pointer;
	
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #fff;
			height: 2px;
			width: 12px;
			transition: transform 0.2s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before, &::after {
				background-color: var(--inverse);
			}
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding-top: toRem(20);
	font-size: toRem(20);
	line-height: math.div(28 , 20);
	
}
