%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-api:before {
  content: "\e900";
}
._icon-cookie:before {
  content: "\e901";
}
._icon-extenstions:before {
  content: "\e902";
}
._icon-fingerprint:before {
  content: "\e903";
}
._icon-network:before {
  content: "\e904";
}
._icon-proxy:before {
  content: "\e905";
}
