//====================================================================================================
.hero {
  padding-bottom: toRem(100);
  &__block {
    background-color: var(--secondary);
    padding: toRem(30);
    max-width: toRem(1240);
    min-height: toRem(450);
    width: 100%;
    text-align: center;
    border-radius: toRem(24);
  }
  &__title {
    @include adaptiveValue("font-size", 72, 32);
    line-height: math.div(82, 72);
    color: #fff;
    margin-bottom: toRem(30);
    font-weight: 700;
    padding-top: toRem(96);
  }
  &__descr {
    font-size: toRem(20);
    color: var(--accent);
    margin-bottom: toRem(50);
  }
  &__button {
    font-size: toRem(20);
    padding: toRem(20) toRem(25) toRem(20) toRem(25);
  }
  &__image {
    margin-top: toRem(-70);
  }
}
.partners {
  padding-bottom: toRem(100);
  &__title {
    text-align: center;
    margin-bottom: toRem(50);
    font-size: toRem(30);
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: toRem(30);
  }
}
.features,
.tech {
  padding-bottom: toRem(100);
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(30);
  }
  &__pretitle {
    color: var(--inverse);
    text-align: center;
    display: block;
    margin-bottom: toRem(15);
    font-size: toRem(18);
  }
  &__title {
    text-align: center;
    margin-bottom: toRem(20);
    font-size: toRem(36);
    line-height: math.div(44, 36);
    color: #fff;
    font-weight: 600;
  }
  &__descr {
    font-size: toRem(20);
    line-height: math.div(30, 20);
    margin-bottom: toRem(60);
    text-align: center;
    max-width: toRem(600);
    margin: 0 auto toRem(60) auto;
  }
  &__item {
    text-align: center;
    padding: toRem(15);
  }
  &__item-icon {
    margin: 0 auto toRem(15) auto;
    width: toRem(40);
    height: toRem(40);
    display: grid;
    place-items: center;
    border-radius: toRem(6);
    border: 2px solid var(--secondary);
    font-size: toRem(20);
  }
  &__item-title {
    font-size: toRem(20);
    color: #fff;
    font-weight: 600;
    margin-bottom: toRem(15);
  }
  &__item-descr {
    font-size: toRem(16);
    line-height: math.div(20, 16);
  }
}
.join {
  padding-bottom: toRem(100);
  &__wrapper {
    background-color: var(--secondary);
    padding: toRem(30);
    border-radius: toRem(24);
    display: flex;
    align-items: center;
    gap: toRem(30);
  }
  &__title {
    font-size: toRem(36);
    line-height: math.div(44, 36);
    margin-bottom: toRem(30);
    font-weight: 600;
  }
  &__list {
    margin-bottom: toRem(30);
  }
  &__list-item {
    font-size: toRem(20);
    margin-bottom: toRem(15);
    font-weight: 500; 
    display: flex;
    align-items: center;
    gap: toRem(5);
    svg {
    width: toRem(24);
    height: toRem(24);
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: toRem(15);
  }
  &__button {
    padding: toRem(15);
  }
  &__button:last-child {
    background-color: transparent;
    border: 2px solid var(--accent);
    color: #fff;
  }
}
.tech {
  &__items {
    gap: toRem(60);
  }
  &__image {
    margin-bottom: toRem(50);
    text-align: center;
  }
}
.download {
  position: relative;
  padding-bottom: toRem(100);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: torem(30);
    padding-left: max(toRem(20), calc((100% - toRem(1240)) / 2));
    padding-right: toRem(20);
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: toRem(20);
    text-align: center;
    font-size: toRem(44);
    color: #fff;
    font-weight: 600;
  }

  &__subtitle {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 16);
    max-width: toRem(720);
    line-height: math.div(28, 20);
    margin: 0 auto 30px auto;
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(20);
    flex-wrap: wrap;
  }

  &__button {
    font-size: toRem(20);
    line-height: math.div(28, 20);
    span {
      font-size: toRem(24);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__image {
    width: calc(100% - toRem(700) - toRem(20));
    @media (max-width: $tablet) {
      order: 2;
    }
    img {
      width: 100%;
    }
  }
}
.solutions {
  padding-bottom: toRem(100);

  &__pretitle {
    color: var(--inverse);
    text-align: center;
    display: block;
    margin-bottom: toRem(15);
    font-size: toRem(18);
  }
  &__title {
    text-align: center;
    margin-bottom: toRem(20);
    font-size: toRem(36);
    line-height: math.div(44, 36);
    color: #fff;
    font-weight: 600;
  }
  &__descr {
    font-size: toRem(20);
    line-height: math.div(30, 20);
    margin-bottom: toRem(60);
    text-align: center;
    max-width: toRem(600);
    margin: 0 auto toRem(60) auto;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(30);
  }
  &__item {
    padding: toRem(15);
    border-radius: toRem(12);
    text-align: center;
    transition: background-color 0.2s;
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--secondary);
      }
    }
  }

  &__item-icon {
    margin-bottom: toRem(30);
  }
  &__item-title {
    font-size: toRem(20);
    color: #fff;
    font-weight: 600;
    margin-bottom: toRem(15);
  }
  &__item-descr {
    font-size: toRem(16);
    line-height: math.div(20, 16);
  }
}
.faq {
    padding-bottom: toRem(100);
    &__title {
    margin-bottom: toRem(20);
    text-align: center;
    font-size: toRem(44);
    color: #fff;
    font-weight: 600;   
    }
}
.questions {
    padding-bottom: toRem(100);
    &__wrapper {
        background-color: var(--secondary);
        padding: toRem(30);
        font-size: toRem(20);
        text-align: center;
        border-radius: toRem(24);
    }
    &__title {
        font-size: toRem(24);
        font-weight: 600;
        margin-bottom: toRem(30);
    }
    &__descr {
        margin-bottom: toRem(30);
    }
    &__button {
        padding: toRem(15) toRem(15);
    }
}
//====================================================================================================
